*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.loader-con{
  width: 100%;
  height: 100vh;
  background-color: rgb(201, 255, 255);
  transition: all .5s ease;
  position: absolute;
  z-index: 99999;
  overflow-y: hidden !important;
}
.loader-con .loader{
  width: 100px;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 15px dashed blue;
  /* border-top-color: white; */
  position: absolute;
  margin: auto;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}
@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
/* styling header  */
.nav-item a{
  text-transform: capitalize;
  font-weight: 500;
  color: white;

}
.nav-link img{
  border-radius: 100%;
}
.wrapper{
  position: relative;
}
.wrapper span{
  right: -10px;
  background-color: black;
  font-size: 8px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
}
.rash{
  margin-left: 3%;
  cursor: pointer;
}
:root{
  --bg: white;
  --icon: black;
  --text: black;
  --foot: black;
}
.dark{
  --bg:black;
  --icon:black;
  --text:white;
  --foot: black;
}
body{
  background: var(--bg) !important;
  color: var(--text) !important;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif !important; 
}

/* styling carousel */
.carousel-control-prev i{
  font-size: 50px;
  color: grey;
}
.carousel-control-next i{
  font-size: 50px;
  color: grey;
}
.carousel-indicators .active{
  background-color: blue !important;
}
.carousel-item img{
  height: 80vh;
}
/* styling carousel done */

/* styling content  */
.tcard .card{
  text-align: center;
  border: 2px solid lightblue;
  box-shadow: 0 0 30px lightskyblue;
}
.wwd{
  text-decoration: none;
  color: black;
}
.tcard .card:hover{
  transform: translateY(-20px)
}
.tcard img{
  border-bottom: 2px solid lightblue;
  padding: 10px;
}
.catbag{
  background-color:  rgb(219, 186, 239);
  
}
.catrow{
  text-align: center;
}
.categ img{
  border-radius: 100%;
  width: 350px;
  transition: 1s;
  margin-bottom: 10px;
  height: 300px;
}
.categ img:hover{
  transform: scale(0.5);
}
/* styling content done */

/* styling footer  */
.fbag{
  background-color: rgba(255, 201, 219, 0.596);
  text-align: center;
  padding: 20px 0;
}
.fbag h3{
  text-transform: capitalize;
  color: var(--foot) !important;
}
.fbag a{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
}
.fbag a:hover{
  color: blue;
}
.fbag img{
  padding-top: 10%;
}
.fcont i{
  color: black;
}
/* styling footer done */

/* styling banner */
.banner{
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 46vh;
}
.pagination a:hover{
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
}
.pagin{
  margin-top: 48px;
}
.pagin nav{
  margin-top: 48px;
}
/* styling banner done  */


/* styling details  */
.det .card{
  border: none;
}
.det .row{
  text-transform: capitalize;
}
.detbody .card-text{
  font-size: 20px;
  font-weight: bold;
}
/* styling details done  */

/* styling contact */
.cform label{
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}
.mapf iframe{
  width: 600px;
  height: 450px;
}
/* styling contact done  */

/* styling register */
.signup form{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid blue;
  box-shadow: 0 0 30px black;
  padding: 20px;
}
.signup label{
  text-transform: capitalize;
  font-weight: 500;
}
.signup input :focus{
  border: 2px solid blue;
  outline: none;
}
.signup button{
  width: 100%;
}
.signup p{
  font-weight: 500;
}
.signup a{
  text-decoration: none;
  color:blue;
}
.pass{
  position: relative;
}
.see{
  position: absolute;
  top: 55%;
  right: 10px;
  cursor: pointer;

}
.see .bi-eye-fill{
  display: none;
}
.see.hide .bi-eye-fill{
  display: block;
}
.see.hide .bi-eye-slash-fill{
  display: none;
}

/* styling register done  */

/* styling cart */
.cart table{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid blue;

}
.cart thead{
  background-color:lightseagreen;
}
.item td{
  border: 1px solid blue;
}
.item input{
  width: 20%;
}
.item i{
  color: red;
}
.subtot td{
  font-size: 20px;
  font-weight: 500;
}

/* styling cart done  */

/* styling checkout */
.checkout label{
  text-transform: capitalize;
  font-weight: 500;
}
.checkout input:focus{
  border: 2px solid blue;
}
.checkout button{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
/* styling checkout done  */

/* styling profile */
.pavat{
  text-align: center;
  background-color: rgb(201,255,255);
}
.pavat img{
  border-radius: 100%;
  margin-top: 3%;
}
.pavat h5{
  font-style: italic;
}
.pavat a{
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.pavat a:hover{
  color: blue;
}
.pform form{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  
}
.pform label{
  text-transform: capitalize;
  font-weight: 500;
}
.pform button{
  width: 100%;
}
.thank{
  text-align: center;
  
}
.thank p{
  text-transform: capitalize;
  font-weight: 500;
}
.thank span{
  color: blue;
  font-style: italic;
}

/* styling profile done  */


/* Additional styling for Privacy Policy done  */
.privacy-container-fluid {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: skyblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-container-fluid h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: blue;
  margin-left: 10px;

}

.privacy-container-fluid p {
  margin-bottom: 15px;
  margin-left: 10px;
}

/* Additional styling for Privacy Policy done  */

/* Styling for links */
.privacy-container-fluid a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.privacy-container-fluid a:hover {
  text-decoration: underline;
}
/* Styling for links */





@media( max-width: 467px){
  .carousel-item img{
    height: 40vh;
  }
  .wrapper{
    position: relative;
  }
  .wrapper span{
    right: 270px;
    background-color: black;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
  }
  .tcard .card{
    text-align: center;
    border: 2px solid lightblue;
    box-shadow: 0 0 30px lightskyblue;
    margin-bottom: 25px;
  }
  .categ img{
    border-radius: 100%;
    width: 200px;
    transition: 1s;
    margin-bottom: 20px;
    height: 200px;
  }
  .banner{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 24vh;
  }
  .pagin{
    margin-top: 20px;
  }
  .pagin nav{
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .signup form{
    width: 80%;
    margin-left: 12%;
    margin-right: 12%;
    border: 2px solid blue;
    box-shadow: 0 0 30px black;
    padding: 20px;
  }
  .mapf iframe{
    width: 300px;
    height: 250px;
    margin-top: 25px;
  }
 
}