<div class="container-fluid">
    <div class="row fbag">
      <div class="col-12 col-md-4">
        <h3>useful links</h3>
        <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Return Policy</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
        </ul>
      </div>    
      <div class="col-12 col-md-4">      
        <a class="" href="{% url 'home' %}"><img src="{{info.logo.url}}" alt=""></a>        
      </div>
      <div class="col-12 col-md-4 ">
        <h3>contact information</h3>
        <ul class="list-unstyled fcont">
          <a class="" href=""><li class="bi bi-envelope"></i>info@apexcoders</li>
          <a class="" href=""><li class="bi bi-telephone-fill"></i>+23480333653534</li>
          <a class="" href=""><li class="list-inline-item"><i class="bi bi-facebook"></i></li>
          <a class="" href=""><li class="list-inline-item"><i class="bi bi-instagram"></i></li>
          <a class="" href=""><li class="list-inline-item"><i class="bi bi-tiktok"></i></li>
          <a class="" href=""><li class="list-inline-item"><i class="bi bi-twitter"></i></li>
        </ul>
      </div>
    </div>
    <div class="row bg-black">
      <div class="col-12  ">
        <p  class="text-white text-center text-capitalize pt-3">&copy; copyright 2023 | all right reserved</p>
      </div>
    </div>
  <div>
</div>