{% extends 'base.html' %}
{% block header %} {% include 'header.html' %}{% endblock header %}
{% block banner %} {% include 'banner.html' %}{% endblock banner %} 
{% block content %}

<div class="container mb-5">
  <h1 class="text-center title text-capitalize mt-5 mb-5">All Products</h1>
  <div class="row">
    {% for item in pagin %}
      <div class="col-12 col-md-6 col-lg-3 tcard">
          <div class="card">
              <a href="{% url 'detail' item.id %}"><img src="{{item.pix.url}}" class="card-img-top" style="height: 250px;"></a> 
              <div class="card-body">
                <h5 class="card-title text-capitalize text-center">{{item.title}}</h5>
                {% if item.promo_price %}
                <p class="card-text text-capitalize">₦{{item.promo_price}}</p>
                <del><p class="card-text text-capitalize">₦{{item.price}}</p> </del>
                {% else %}
                <p class='card-text text-capitalize'>{{item.price}}</p>
                {% endif %}
                <form action= "{% url 'add_to_cart' %}" method='POST'>
                  {% csrf_token %}
                  <input type= 'hidden' name='itemid' value= "{{item.id}}">
                  <input type= 'hidden' name= 'quantity' value='1'>
                 <button type='submit' class= "btn btn-primary text-capitalize">add to cart</button >            
                </form> 
              </div>
          </div>
      </div> 
      {% endfor %}

    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example mt-5">
      <ul class="pagination justify-content-center">
        {% if pagin.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ pagin.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
  
        {% for item in pagin.paginator.page_range %}
        {% if item == pagin.number %}
        <li class="page-item active"><a class="page-link" href="#">{{ item }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
        {% endif %}
        {% endfor %}
  
        {% if pagin.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ pagin.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  </div>
  
  {% endblock content %}
  {% block footer %} {% include 'footer.html' %}{% endblock footer %}




  